.css-12mvehg-MuiPaper-root-MuiAlert-root {
    background: #C3D4FE !important;
    box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px !important;
    color: #243F80 !important;
}